.v-qtim__btn-p {
    @include flex(f, c, c);
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: $grey-light;
    transition: 0s all;
    cursor: pointer;

    &:hover {
        background: $grey-light-hover;
    }

    &--active {
        &, &:hover {
            color: $white;
            background: $black;
        }
    }

    &--prev, &--next {
        border: 1px solid $grey-light;
        background: $white;
    }

    &--prev {
        svg {
            transform: rotateZ(180deg);
        }
    }

    
}